<header>
    <nav>
        <div id="text">
            <a href="/">🦊Home</a></li>
            <a href="/foxinfo">FoxInfo</a></li>
            <a href="/foxnews">📰FoxNews</a></li>
        </div>
    </nav>
</header>
