<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fox Information</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div id="wrapper">
        <%- include("../partials/header.ejs") %>
        
        <h1> A Year In The Life Of An Urban Fox </h1>

        <ul>
            <li><h2>January</h2>
            <p>This is the main mating period, when foxes are very vocal and most likely to wake you with screams and barks. </p>
            <p>Males roam neighbouring territories looking for receptive females; road deaths are common. </p>
            <p>The animals often stop visiting gardens for food - sex has priority.</p>
            </li>

            <li><h2>February</h2>
            <p>By now most females are pregnant. </p>
            <p>The vixens become increasingly secretive as their due date approaches:</p>
            <p>they start clearing out potential den sites under sheds,</p>
            <p>and re-open old holes in banks and on areas of waste ground before selecting one in which to give birth.</p>
            <img src="/Images/fox1.jpeg" alt="fox in garden" id="fox">
            </li>

            <li><h2>March</h2>
            <p>The peak birth period is mid-March. </p>
            <p>Cubs are born deaf, blind and unable to thermoregulate for the first two weeks, so their mother rarely leaves them.</p> 
            <p>She is provisioned by other adults in the group; their visits with food are the first sign that a den is occupied.</p>
            </li>

            <li><h2>April</h2>
            <p>Cubs first emerge above ground in late April, when they start eating solid food. </p>
            <p>Scraps and play items accumulate around the earth. </p>
            <p>There may also be a strong smell of rotting food. </p>
            <p>Other signs that cubs have emerged include small droppings, buzzing flies and flattened plants.</p>
            </li>

            <li><h2>May</h2>
            <p>There is now lots of activity near the den, and cubs noisily running around playing, especially at dawn and dusk. </p>
            <p>The adults make frequent visits throughout the night to bring food.</p> 
            <p>If disturbed, the family will move to a new earth.</p>
            <img src="/Images/fox2.jpg" alt="Baby foxes" id="fox">
        </li>

        <li><h2>June</h2>
        <p>The breeding den may be abandoned if it gets too hot. </p>
        <p>Cubs lie up during the day in dense vegetation or rubbish piles, and the litter may be split between sites.</p> 
        <p>Adults still feed them, and are often seen collecting several food items in their mouths before taking them to the young.</p>
        </li>

        <li><h2>July</h2>
        <p>Adults are by now very thin after provisioning for three months; they also look very tatty because they are moulting. </p>
        <p>So they stop feeding the cubs and start competing with them for food, often driving them off and forcing them to explore.</p>
        </li>

        <li><h2>August</h2>
        <p>This is generally a quiet month. </p>
        <p>Adults are recovering their body condition, while cubs may struggle to find food, especially in hot, dry summers. </p>
        <p>Hungry cubs are often seen during the day, or injured in accidents as they explore more distant parts of their natal territory.</p>
        <img src="/Images/fox3.jpg" alt="Young fox Cub" id="fox">
        </li>

        <li><h2>September</h2>
        <p>Both adults and cubs have nearly finished growing new winter coats, while the young are reaching adult size.</p> 
        <p>Competition between cubs, and cubs and adults, intensifies: fights can be very noisy, with rivals chasing each other or squaring up on their hindlegs.</p>
        <p>Bite wounds to forefeet are common.</p>
        </li>

        <li><h2>October</h2>
        <p>Now is the onset of the dispersal period, with male cubs leaving first. </p>
        <p>Territorial defence increases - adults actively patrol, and can be very vocal. </p>
        <p>High levels of competition within social groups are common. </p>
        <p>Young males look for vacant territories, and many are killed on the roads as they explore.</p>
        </li>

        <li><h2>November</h2>
        <p>The males peak dispersal period is November - December; some female cubs also start to leave. </p>
        <p>High levels of competition and territorial defence by adults continue - they often fight over access to food.</p>
        <img src="/Images/fox4.jpg" alt="Male foxes fight" id="fox" >
        </li>

        <li><h2>December</h2>
        <p>The dominant male and female are seen together more frequently, and often share their food. </p>
        <p>The pair drives other members of the social group away from the best food sources, and actively defends the territory against strangers. </p>
        <p>They make more noise as the mating season approaches.</p>
        </li>

        </ul>
        <h5>Article by: <a href="https://www.discoverwildlife.com/author/sarah-mcpherson">Sarah McPherson</a></h5>
        <%- include("../partials/footer.ejs") %>
    </div>
    
    
</body>
</html>