<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fox News</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div id="wrapper">
        <%- include("../partials/header.ejs") %>
        
        <div class="container">
            <iframe class="responsive-iframe" src="https://www.euronews.com/"></iframe>
        </div>
        <%- include("../partials/footer.ejs") %>
    </div>
</body>
</html>